# -----------------------------------------
# How to setup rewrite rule :
#
# ex: myroserver.com/client/
# ErrorDocument 404 /client/index.php
#
# ex : myroserver.com/low/client/
# ErrorDocument 404 /low/client/index.php
#
# ex : client.myroserver.com/
# ErrorDocument 404 /index.php
# -----------------------------------------

# Setup the rule
ErrorDocument 404 /client/index.php