<div id="Equipment">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button class="base" data-background="basic_interface/sys_base_off.bmp" data-hover="basic_interface/sys_base_on.bmp"></button>
<!-- data-text -->
			<span class="text" data-text="106">Equipment</span>
		</div>
		<div class="right">
			<button class="base mini" data-background="basic_interface/sys_mini_off.bmp" data-hover="basic_interface/sys_mini_on.bmp"></button>
			<button class="base close" data-background="basic_interface/sys_close_off.bmp" data-hover="basic_interface/sys_close_on.bmp"></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="panel">
		<table class="content" data-background="basic_interface/equipwin_bg.bmp">
			<tr>
				<td class="head_top col1"></td>
				<td rowspan="6" class="col2">
					<canvas width="55" height="125"></canvas>
				</td>
				<td class="head_mid col3"></td>
			</tr>
			<tr>
				<td class="head_bottom col1"></td>
				<td class="armor col3"></td>
			</tr>
			<tr>
				<td class="weapon col1"></td>
				<td class="shield col3"></td>
			</tr>
			<tr>
				<td class="garment col1"></td>
				<td class="shoes col3"></td>
			</tr>
			<tr>
				<td class="accessory1 col1"></td>
				<td class="accessory2 col3"></td>
			</tr>
		</table>
		<div class="stats"></div>
	</div>
</div>