<div id="NpcStore">

	<div class="InputWindow">
		<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
			<div class="text">
				<span class="WinSell" data-text="185">Available Items for selling</span>
				<span class="WinBuy"  data-text="186">Shop Items</span>
				<span class="WinVendingStore">
					<span data-text="227">Merchant Shop</span> - <span class="seller"></span>
				</span>
			</div>
		</div>
		<div class="container" data-background="basic_interface/itemwin_left.bmp">
			<div class="content" data-background="basic_interface/itemwin_mid.bmp"></div>
		</div>
		<div class="footer" data-background="basic_interface/btnbar_mid2.bmp">
			<div class="ask_quantity WinSell">
				<button class="selectall" data-background="checkbox_0.bmp" data-preload="checkbox_1.bmp"></button> <span data-text="295">Don't ask the Quantity of Items</span>
			</div>
			<button class="resize" data-background="btn_resize.bmp"></button>
		</div>
	</div>

	<div class="OutputWindow">
		<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
			<div class="text">
				<span class="WinSell" data-text="168">Selling Items</span>
				<span class="WinBuy WinVendingStore"  data-text="166">Buying Items</span>
			</div>
		</div>
		<div class="container" data-background="basic_interface/itemwin_left.bmp">
			<div class="content" data-background="basic_interface/itemwin_mid.bmp"></div>
		</div>
		<div class="footer" data-background="basic_interface/btnbar_mid2.bmp">
			<div class="total">Total : <span class="result"></span> <span class="unity">Zeny</span></div>
			<button class="btn sell WinSell" data-background="btn_sell.bmp" data-hover="btn_sell_a.bmp" data-down="btn_sell_b.bmp"></button>
			<button class="btn buy WinBuy WinVendingStore"  data-background="btn_buy.bmp"  data-hover="btn_buy_a.bmp"  data-down="btn_buy_b.bmp"></button>
			<button class="btn cancel" data-background="btn_cancel.bmp" data-hover="btn_cancel_a.bmp" data-down="btn_cancel_b.bmp"></button>
			<button class="resize" data-background="btn_resize.bmp"></button>
		</div>
	</div>
</div>