#ItemObtain { position:absolute; top:50px; width:auto; border-radius:5px; background:white; padding:2px; letter-spacing:0px; }
#ItemObtain .content { border:1px solid #c1c6c2; height:25px; padding-left:10px; padding-right:15px; border-radius:5px; }
#ItemObtain img { vertical-align:-6px; }