<div id="win_login" data-background="win_login.bmp">
	<!-- User Auth -->
	<input class="user" type="text" value="" />
	<input class="pass" type="password" value=""/>
	<button class="save" type="button" data-background="chk_saveoff.bmp" data-preload="chk_saveon.bmp"></button>

	<!-- Buttons -->
	<button class="btn connect" type="submit" data-background="btn_connect.bmp" data-hover="btn_connect_a.bmp" data-down="btn_connect_b.bmp"></button>
	<button class="btn exit" type="button" data-background="btn_exit.bmp" data-hover="btn_exit_a.bmp" data-down="btn_exit_b.bmp"></button>
</div>