<div id="Inventory">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button class="base" data-background="basic_interface/sys_base_off.bmp" data-hover="basic_interface/sys_base_on.bmp"></button>
			<span class="text" data-text="106">Inventory</span>
		</div>
		<div class="right">
			<button class="base mini" data-background="basic_interface/sys_mini_off.bmp" data-hover="basic_interface/sys_mini_on.bmp"></button>
			<button class="base close" data-background="basic_interface/sys_close_off.bmp" data-hover="basic_interface/sys_close_on.bmp"></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="overlay"></div>
	<div class="panel">
		<table>
			<tr>
				<td class="tabs" rowspan="2" data-background="basic_interface/tab_itm_01.bmp" data-preload="basic_interface/tab_itm_02.bmp;basic_interface/tab_itm_03.bmp">
					<button class="item"></button>
					<button class="equip"></button>
					<button class="etc"></button>
				</td>
				<td class="container">
					<div class="ff_bugfix">
						<div class="hide"></div>
						<div class="content" data-background="basic_interface/itemwin_mid.bmp"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td class="footer" data-background="basic_interface/btnbar_mid2.bmp">
					<button class="extend" data-background="btn_resize.bmp"></button>
				</td>
			</tr>
		</table>
	</div>
</div>