<div id="PartyHelper">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button class="base" data-background="basic_interface/sys_base_off.bmp" data-hover="basic_interface/sys_base_on.bmp"></button>
			<span class="text setup" data-text="291">Party Setup</span>
			<span class="text create" data-text="2054">Create Party</span>
			<span class="text invite" data-text="2056">Create Party</span>
		</div>
		<div class="right">
			<button class="base close" data-background="basic_interface/sys_close_off.bmp" data-hover="basic_interface/sys_close_on.bmp"></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="content">
		<div class="create invite">
			<p>
				<span data-text="2057" class="create">Party Name:</span>
				<span data-text="2058" class="invite">Player Name:</span>
			</p>
			<input type="text" class="name" value=""/>
		</div>
		<div class="exp_share setup">
			<p data-text="292">How to share EXP</p>
			<button class="on" data-value="0" data-background="radiobtn_on.bmp" data-text="287">Each Take</button>
			<button class="off" data-value="1" data-background="radiobtn_off.bmp" data-text="288">Even Share</button>
		</div>
		<div class="item_share setup create">
			<p data-text="293">How to share Items</p>
			<button class="on" data-value="0" data-background="radiobtn_on.bmp" data-text="289">Each Take</button>
			<button class="off" data-value="1" data-background="radiobtn_off.bmp" data-text="290">Party Share</button>
		</div>
		<div class="item_sharing_type setup create">
			<p data-text="738">Item Sharing type</p>
			<button class="on" data-value="0" data-background="radiobtn_on.bmp" data-text="739">Individual</button>
			<button class="off" data-value="1" data-background="radiobtn_off.bmp" data-text="740">Shared</button>
		</div>
	</div>
	<div class="footer" data-background="basic_interface/btnbar_mid2.bmp">
		<button class="btn ok" data-background="btn_ok.bmp" data-hover="btn_ok_b.bmp" data-down="btn_ok_a.bmp"></button>
		<button class="btn cancel" data-background="btn_cancel.bmp" data-hover="btn_cancel_b.bmp" data-down="btn_cancel_a.bmp"></button>
	</div>
</div>