<div id="PartyFriends">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button class="base" data-background="basic_interface/sys_base_off.bmp" data-hover="basic_interface/sys_base_on.bmp"></button>
			<span class="party">
				<span class="text" data-text="103">Party</span> <span class="partyname"></span>
			</span>
			<span class="friend">
				<span class="text" data-text="102">Friends</span> (<span class="friendcount">0</span>/<span class="friendmax">40</span>)
			</span>
		</div>
		<div class="right">
			<button class="base close" data-background="basic_interface/sys_close_off.bmp" data-hover="basic_interface/sys_close_on.bmp"></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="content">
		<div class="party"></div>
		<div class="friend"></div>
	</div>
	<div class="navigation" data-background="basic_interface/mesbtn_mid.bmp">
		<button class="mail" data-background="basic_interface/mesbtn_01.bmp" data-hover="basic_interface/mesbtn_01_a.bmp" data-down="basic_interface/mesbtn_01_b.bmp">
			<div class="overlay" data-text="98">Send Message</div>
		</button>
		<button class="privatemessage" data-background="basic_interface/mesbtn_02.bmp" data-hover="basic_interface/mesbtn_02_a.bmp" data-down="basic_interface/mesbtn_02_b.bmp">
			<div class="overlay" data-text="99">1:1 Chat</div>
		</button>
		<button class="unknown" data-background="basic_interface/mesbtn_03.bmp"></button>
		<button class="info" data-background="basic_interface/mesbtn_04.bmp" data-hover="basic_interface/mesbtn_04_a.bmp" data-down="basic_interface/mesbtn_04_b.bmp">
			<div class="overlay">
				<span class="party" data-text="101">Party Setup</span>
				<span class="friend" data-text="355">Friend Setup</span>
			</div>
		</button>
		<button class="remove" data-background="basic_interface/mesbtn_05.bmp" data-hover="basic_interface/mesbtn_05_a.bmp" data-down="basic_interface/mesbtn_05_b.bmp">
			<div class="overlay">
				<span class="party" data-text="97">Expel from party</span>
				<span class="friend" data-text="351">Delete</span>
			</div>
		</button>
		<button class="lock on" data-background="basic_interface/mesbtn_06.bmp" data-hover="basic_interface/mesbtn_06_a.bmp" data-down="basic_interface/mesbtn_06_b.bmp">
			<div class="overlay" data-text="1626">Activate lock function</div>
		</button>
		<button class="lock off" data-background="basic_interface/mesbtn_07.bmp" data-hover="basic_interface/mesbtn_07_a.bmp" data-down="basic_interface/mesbtn_07_b.bmp">
			<div class="overlay" data-text="1627">Deactivate lock function</div>
		</button>
		<button class="party create" data-background="basic_interface/mesbtn_08.bmp" data-hover="basic_interface/mesbtn_08_a.bmp" data-down="basic_interface/mesbtn_08_b.bmp">
			<div class="overlay" data-text="2054">Create Party</div>
		</button>
		<button class="party add" data-background="basic_interface/mesbtn_010.bmp" data-hover="basic_interface/mesbtn_010_a.bmp" data-down="basic_interface/mesbtn_010_b.bmp">
			<div class="overlay" data-text="2056">Party Invitation</div>
		</button>
		<button class="party leave" data-background="basic_interface/mesbtn_09.bmp" data-hover="basic_interface/mesbtn_09_a.bmp" data-down="basic_interface/mesbtn_09_b.bmp">
			<div class="overlay" data-text="96">Leave Party</div>
		</button>
		<div class="clear"></div>
	</div>
	<div class="footer" data-background="basic_interface/btnbar_mid.bmp">
		<div class="friend">
			<button class="switchtab on" data-background="radiobtn_on.bmp" data-text="102">Friends</button>
			<button class="switchtab off" data-background="radiobtn_off.bmp" data-text="103">Party</button>
		</div>
		<div class="party">
			<button class="switchtab off" data-background="radiobtn_off.bmp" data-text="102">Friends</button>
			<button class="switchtab on" data-background="radiobtn_on.bmp" data-text="103">Party</button>
		</div>
		<button class="resize" data-background="btn_resize.bmp"></button>
	</div>
</div>