<div id="charcreate" data-background="login_interface/win_make.bmp">

	<div class="chargen">
		<button class="left"  data-background="scroll1left.bmp"></button>
		<button class="up"    data-background="scroll0up.bmp"></button>
		<button class="right" data-background="scroll1right.bmp"></button>
		<canvas width="65" height="110"></canvas>
	</div>
	<input type="text" value="" />

	<div class="graph">
		<button class="str" data-background="login_interface/arw-str0.bmp" data-down="login_interface/arw-str1.bmp"></button>
		<button class="agi" data-background="login_interface/arw-agi0.bmp" data-down="login_interface/arw-agi1.bmp"></button>
		<button class="vit" data-background="login_interface/arw-vit0.bmp" data-down="login_interface/arw-vit1.bmp"></button>
		<button class="int" data-background="login_interface/arw-int0.bmp" data-down="login_interface/arw-int1.bmp"></button>
		<button class="dex" data-background="login_interface/arw-dex0.bmp" data-down="login_interface/arw-dex1.bmp"></button>
		<button class="luk" data-background="login_interface/arw-luk0.bmp" data-down="login_interface/arw-luk1.bmp"></button>
		<canvas width="158" height="158"></canvas>
	</div>

	<div class="info">
		<div class="str">5</div>
		<div class="agi">5</div>
		<div class="vit">5</div>
		<div class="int">5</div>
		<div class="dex">5</div>
		<div class="luk">5</div>
	</div>

	<div class="btns">
		<button class="btn cancel" data-background="btn_cancel.bmp" data-hover="btn_cancel_a.bmp" data-down="btn_cancel_b.bmp"></button>
		<button class="btn make" data-background="btn_make.bmp" data-hover="btn_make_a.bmp" data-down="btn_make_b.bmp"></button>
	</div>
</div>