<div id="charselect" data-background="login_interface/win_select.bmp">

	<!-- BOX -->
	<div class="box_select" data-background="login_interface/box_select.bmp"></div>
	<canvas class="slot1" width="126" height="132"></canvas>
	<canvas class="slot2" width="126" height="132"></canvas>
	<canvas class="slot3" width="126" height="132"></canvas>

	<!-- Arrows -->
	<button class="arrow left"  data-background="scroll1left.bmp"></button>
	<button class="arrow right" data-background="scroll1right.bmp"></button>

	<!-- Slots infos -->
	<div class="slotinfo">
		<span class="number" data-text="2004">0 / 27</span>
		<span class="content"></span>
	</div>

	<!-- Pages infos -->
	<div class="pageinfo">
		<span class="current">1</span> / <span class="count">9</span>
	</div>

	<!-- Characters infos -->
	<div class="charinfo">
		<div class="name"></div>
		<div class="job"></div>
		<div class="lvl"></div>
		<div class="exp"></div>
		<div class="hp"></div>
		<div class="sp"></div>
		<div class="map"></div>
		<div class="str"></div>
		<div class="agi"></div>
		<div class="vit"></div>
		<div class="int"></div>
		<div class="dex"></div>
		<div class="luk"></div>
	</div>

	<!-- Buttons -->
	<div class="btns">
		<button class="btn delete" data-background="btn_del.bmp" data-hover="btn_del_a.bmp" data-down="btn_del_b.bmp"></button>
		<button class="btn cancel" data-background="btn_cancel.bmp" data-hover="btn_cancel_a.bmp" data-down="btn_cancel_b.bmp"></button>
		<button class="btn ok" data-background="btn_ok.bmp" data-hover="btn_ok_a.bmp" data-down="btn_ok_b.bmp"></button>
		<button class="btn make" data-background="btn_make.bmp" data-hover="btn_make_a.bmp" data-down="btn_make_b.bmp"></button>
	</div>
</div>