<div id="chatbox" data-preload="basic_interface/dialscr_down.bmp;basic_interface/dialscr_up.bmp">
	
	<table class="header" cellpadding="0" cellspacing="0" border="0" width="100%">
		 <tr>
			 <td class="tab">
				 <div class="on">
					 <input type="text" value="Public"/>
				 </div>
			 </td>
			 <td><div class="options"></div></td>
		 </tr>
	</table>

	<div class="body">
		<div class="content"></div>
	</div>

	<div class="battlemode"></div>
	<div class="input" data-background="basic_interface/dialog_bg.bmp">
		<input type="text" class="username"/>
		<button class="list" data-background="basic_interface/dialog_btn0.bmp" data-hover="basic_interface/dialog_btn1.bmp" data-down="basic_interface/dialog_btn2.bmp"></button>
		<input type="text" class="message"/>
		<button class="filter" data-background="basic_interface/sys_base_off.bmp" data-down="basic_interface/sys_base_off.bmp"></button>
		<button class="size" data-background="basic_interface/sys_base_off.bmp" data-down="basic_interface/sys_base_off.bmp"></button>
	</div>
</div>