#Equipment { position:absolute; font-size:12px; width:280px; }

#Equipment .clear { clear:both; }

#Equipment .titlebar { width:280px; height:17px; background-color:white; background-repeat:repeat-x; border-radius:3px 3px 0px 0px; }
#Equipment .titlebar .base { width:11px; height:11px; border:none; background-color:transparent; background-repeat:no-repeat; vertical-align:middle;}
#Equipment .titlebar .text { text-shadow:1px 1px white; vertical-align:-2px; 
 /* chrome bug */ display: inline-block; width: 32px; height:13px; }

#Equipment .titlebar .left { margin-left:3px; float:left; }
#Equipment .titlebar .right { float:right; margin-right:3px;}
#Equipment .titlebar .clear { clear:both; }

#Equipment .panel { background-color:white; }
#Equipment .content { display:inline-block; width:280px; height:130px; border-spacing:0; }
#Equipment .col1, #Equipment .col3  { width:115px; height:24px; background-color:transparent; background-repeat:no-repeat; background-position-y:9px; }
#Equipment .col1 { background-position-x:3px; }
#Equipment .col3 { background-position-x:81px; }

#Equipment .item button { width:24px; height:24px; background-color:transparent; background-repeat:no-repeat; border: none; }
#Equipment .item span { white-space:pre; width:80px; height:24px; display:inline-block; line-height:12px; }

#Equipment .col3 .item button, #Equipment .col3 .item span { float:right; }
#Equipment .col1 .item button, #Equipment .col1 .item span { float:left; }
#Equipment .col1 .item { padding-left:4px; }
#Equipment .col3 .item { padding-right:4px; }

#Equipment .footer { height:20px; border-bottom:1px solid #c0c0c0; }
#Equipment .footer .left { float:left; text-align:left; margin-left:5px; margin-top:3px; }
#Equipment .footer .right { float:right; text-align:right; margin-right:5px; margin-top:3px; }
#Equipment .footer .view_status { width:9px; height:14px; border:none; background-color:transparent; background-repeat:no-repeat; }
#Equipment .footer .show_equip { width:10px; height:12px; border:none; background-color:transparent; background-repeat:no-repeat; }