<div class="ItemInfo" data-background="basic_interface/collection_bg.bmp">
	<div class="container">
		<div class="collection"></div>
		<button class="view" data-background="basic_interface/btn_view.bmp" data-down="basic_interface/btn_view_a.bmp" data-hover="basic_interface/btn_view_b.bmp"></button>
		<div class="title"></div>
		<button class="close" data-background="basic_interface/sys_close_off.bmp" data-hover="basic_interface/sys_close_on.bmp"></button>
		<div class="description"></div>
	</div>
	<div class="cardlist">
		<div class="border">
		</div>
	</div>
</div>