<div id="ItemSelection"> 
	<div class="head" data-background="basic_interface/titlebar_mid.bmp">
		<span class="text"></span>
	</div>
	<div class="bottom" data-background="login_interface/win_service.bmp">
		<button class="btn cancel" data-background="btn_cancel.bmp" data-hover="btn_cancel_a.bmp" data-down="btn_cancel_b.bmp"></button>
		<button class="btn ok" data-background="btn_ok.bmp" data-hover="btn_ok_a.bmp" data-down="btn_ok_b.bmp"></button>
	</div>
	<div class="content">
		<div class="list"></div>
	</div>
</div>