<div id="SkillList">
	<div class="border">

		<div class="titlebar" data-background="basic_interface/btnbar_mid2.bmp">
			<div class="left">
				<button class="base" data-background="basic_interface/sys_base_off.bmp" data-hover="basic_interface/sys_base_on.bmp"></button>
				<span class="text" data-text="283">Skill Tree</span>
			</div>
			<div class="right">
				<button class="base mini" data-background="basic_interface/sys_mini_off.bmp" data-hover="basic_interface/sys_mini_on.bmp"></button>
				<button class="base close" data-background="basic_interface/sys_close_off.bmp" data-hover="basic_interface/sys_close_on.bmp"></button>
			</div>
			<div class="clear"></div>
		</div>

		<div class="panel">
			<div class="content">
				<table>
					<!-- Just to get reference, will be removed -->
					<button class="btn levelup" data-background="basic_interface/skill_up_a.bmp" data-hover="basic_interface/skill_up_b.bmp" data-down="basic_interface/skill_up_c.bmp"></button>
				</table>
			</div>

			<div class="footer" data-background="basic_interface/btnbar_mid2.bmp">
				<div class="text">Skill Points: <span class="skpoints_count">0</span></div>
				<button class="btn apply" data-background="btn_apply.bmp" data-hover="btn_apply_a.bmp" data-down="btn_apply_b.bmp"></button>
				<button class="btn reset" data-background="btn_reset.bmp" data-hover="btn_reset_a.bmp" data-down="btn_reset_b.bmp"></button>
				<button class="extend" data-background="btn_resize.bmp"></button>
			</div>
		</div>
	</div>

	<button id="lvlup_job" data-background="basic_interface/lv_up_off.bmp" data-down="basic_interface/lv_up_on.bmp"></button>
</div>